header {
    width: 100vw;
    height: 8.370535714285714vw;
    z-index: 2;
    position: fixed;
    line-height: 8.370535714285714vw;
    perspective: 100px;
    .logo {
        float: left;
        font-weight: 700;
        font-size: 1.0044642857142858vw;
    }
    .location {
        float: left;
        padding: 0px 50px;
        opacity: 0.5;
    }
    .links {
        float: right;
        a {
            padding: 0px 50px;
            &:nth-child(3) {
            padding: 0px 0px 0px 50px;
            }
        }
    }
}