* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
html,
body {
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 0.89285714vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #181818;
}
.contentWrapper {
  width: 100vw;
  margin: 0 auto;
  padding: 0 8.37053571vw;
}
header {
  width: 100vw;
  height: 8.37053571vw;
  z-index: 2;
  position: fixed;
  font-size: 1.00446429vw;
  line-height: 8.37053571vw;
  perspective: 100px;
}
header .logo {
  float: left;
  font-size: 1.00446429vw;
  font-weight: 700;
}
header .location {
  float: left;
  padding: 0px 50px;
  opacity: 0.5;
}
header .links {
  float: right;
}
header .links a {
  padding: 0px 2.79017857vw;
}
header .links a:nth-child(2) {
  padding: 0px 0px 0px 2.79017857vw;
}
@media (max-width: 1200px) {
  header {
    height: 80px;
    font-size: 12px;
    line-height: 80px;
  }
  header .logo {
    font-size: 12px;
  }
}
@media all and (max-width: 1200px) {
  html,
  body {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .contentWrapper {
    padding: 0px 20px;
  }
}
